.main-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 15px 0;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-wrap {
      img {
        width: 200px;
      }
    }
    .search-wrap {
      position: relative;
      input {
        width: 500px;
        background: rgba(255, 255, 255, 0.6);        
        height: 48px;
        border-radius: 30px;
        border: none;
        color: #fff;
        outline: none !important;
        padding: 5px 50px 5px 25px;
        &::-webkit-input-placeholder {          
          color: #fff;
          opacity: 1;
        }
        &:-ms-input-placeholder {          
          color: #fff;
          opacity: 1;
        }
        &::placeholder {
          color: #fff;
          opacity: 1;
        }
      }
      .search-btn {
        position: absolute;
        right: 10px;
        top: 7px;
        background: #ff7e23;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 40px;
      }
    }
    .menu-wrap {
        ul {
            display: flex;
            margin: 0;
            li {
                padding-left: 25px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
  }
}
