<header class="main-header">
    <div class="container">
        <div class="header-inner">
            <div class="logo-wrap"><a routerLink="/"><img src="assets/images/logo.png" alt=""></a></div>
            <div class="search-wrap"><input type="text" placeholder="Search for races, events and more..."><button class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="14.654" height="14.603" viewBox="0 0 14.654 14.603">
                <path id="Icon_ionic-ios-search" data-name="Icon ionic-ios-search" d="M18.336,17.483l-3.894-3.93a5.549,5.549,0,1,0-.842.853l3.868,3.9a.6.6,0,0,0,.846.022A.6.6,0,0,0,18.336,17.483Zm-8.254-3.03a4.382,4.382,0,1,1,3.1-1.283A4.354,4.354,0,0,1,10.082,14.453Z" transform="translate(-4.2 -4.193)" fill="#fff" stroke="#fff" stroke-width="0.6"/>
              </svg>
              </button></div>
              <div class="menu-wrap">
                  <ul class="list-unstyled">
                      <li><a href="javascript:;">Bangalore <span><svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">
                        <path id="Icon_material-arrow-drop-down" data-name="Icon material-arrow-drop-down" d="M10.5,15l4,6,4-6Z" transform="translate(-10.5 -15)" fill="#fff"/>
                      </svg>
                      </span></a></li>
                      <li><a href="javascript:;">Sign in</a></li>
                      <li><a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12">
                        <g id="Group_111" data-name="Group 111" transform="translate(-15512 56)">
                          <rect id="Rectangle_86" data-name="Rectangle 86" width="17" height="2" rx="1" transform="translate(15515 -51)" fill="#fff"/>
                          <rect id="Rectangle_87" data-name="Rectangle 87" width="20" height="2" rx="1" transform="translate(15512 -56)" fill="#fff"/>
                          <rect id="Rectangle_88" data-name="Rectangle 88" width="13" height="2" rx="1" transform="translate(15519 -46)" fill="#fff"/>
                        </g>
                      </svg>
                      </a></li>
                  </ul>
              </div>
        </div>
    </div>
</header>