<div class="slider-wrapper">
  <div id="mainSlider" class="carousel slide" data-ride="carousel">    
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <div class="slide">
            <img src="assets/images/slide-1.jpg" alt="" class="slide-image">
          <div class="slider-content">
           <div class="container">
            <h6>RUNNING</h6>
            <h3>Participate in the world's largest International Marathon</h3>
            <div><strong>3rd October, 2020</strong></div>
            <a class="btn btn-primary mt-4" routerLink="/event/4">View Event Info </a>
           </div>
          </div>
        </div>
      </div>  

      <div class="carousel-item" data-interval="3000">
        <div class="slide">
            <img src="assets/images/slide-2.jpg" alt="" class="slide-image">
          <div class="slider-content">
           <div class="container">
            <h6>CYCLING</h6>
            <h3>Find out the next cycling adventure around you</h3>
            <div><strong>3rd October, 2020</strong></div>
            <a class="btn btn-primary mt-4" routerLink="/event/1">View Event Info </a>
           </div>
          </div>
        </div>
      </div>  
      <div class="carousel-item" data-interval="3000">
        <div class="slide">
            <img src="assets/images/slide-3.jpg" alt="" class="slide-image">
          <div class="slider-content">
           <div class="container">
            <h6>RUNNING</h6>
            <h3>''My journey of completing 
                50th full marathon'' - Sandeep Singh. </h3>
            <div><strong>3rd October, 2020</strong></div>
            <a class="btn btn-primary mt-4" routerLink="/event/3">Read Story </a>
           </div>
          </div>
        </div>
      </div>  
      <div class="carousel-item" data-interval="3000">
        <div class="slide">
            <img src="assets/images/slide-4.jpg" alt="" class="slide-image">
          <div class="slider-content">
           <div class="container">
            <h6>CYCLING</h6>
            <h3>Find our the next cycling adventure around you</h3>
            <div><strong>3rd October, 2020</strong></div>
            <a class="btn btn-primary mt-4" routerLink="event/2">View Event Info </a>
           </div>
          </div>
        </div>
      </div>
      
    </div>    
    
    <ol class="carousel-indicators">
        <li data-target="#mainSlider" data-slide-to="0" class="active">
            <span>Participate in the world's largest International Marathon</span>
        </li>
        <li data-target="#mainSlider" data-slide-to="1">
            <span>100+ Adventure trips are awaiting you</span>
        </li>
        <li data-target="#mainSlider" data-slide-to="2">
            <span>My journey of completing 50th full marathon</span>
        </li>
        <li data-target="#mainSlider" data-slide-to="3">
            <span>Cycling - Find the next cycling adventure around you</span>
        </li>
      </ol>


  </div>
</div>
