.slider-wrapper {
  .slide {
    height: 95vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    .slide-image {
      position: absolute;
      position: absolute;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    .slider-content {
      position: relative;
      z-index: 1;
      width: 100%;
      color: #fff;
      padding-bottom: 140px;
      h3 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1.2;
      }
      h6 {
        font-size: 20px;
      }
    }
  }
}
.carousel-indicators {
    position: absolute;
    z-index: 10;
    justify-content: space-between;
    margin: 0 0 20px;
    width: 1110px;
    left: 50%;
    transform: translateX(-50%);
  li {
    width: 240px;
    font-size: 15px;
    color: #fff;
    height: auto;
    text-indent: 0px;
    background: none;
    border-top: 3px solid #fff;
    padding-top: 10px;
  }
}
