<div class="event-single-wrapper">
  <div class="event-banner">
    <img src="assets/images/banner.jpg" alt="" />
    <div class="event-banner-content">
      <div class="container">
        <span>Last registered 1 hour 18 mins ago by Ankit</span>
      </div>
    </div>
  </div>

  <div class="event-details-wrap">
    <div class="container">
      <div class="event-head">
        <div class="event-head-left">
          <h3>{{event?.title}}</h3>
          <div class="shimmer" *ngIf="event === undefined"></div>
          <ul class="list-unstyled" *ngIf="event !== undefined">
            <li>{{event?.event_date | date: 'EEEE, MMM d, h:mm a'}}</li>
            <li>No of people attending : {{event?.number_of_attendee}}</li>
          </ul>
          <ul class="list-unstyled mt-3" *ngIf="event === undefined">
            <li class="shimmer secondary ml-0"></li>
            <li class="shimmer secondary"></li>
          </ul>
          <h6 *ngIf="event !== undefined">₹ {{event?.price}}</h6>
          <div *ngIf="event === undefined" class="shimmer primary"></div>
        </div>
        <div class="event-head-right">
          <img src="assets/images/actions.png" alt="">
        </div>
      </div>

      <div class="event-content">
        <div class="event-content-left">
          <h6>Details</h6>
          <div [innerHTML]='event?.description'></div>
        </div>

        <div class="event-content-right">
          <div class="content-box">
            <img src="assets/images/share.png" alt="">
          </div>
          <div class="content-box">
            <img src="assets/images/hosted.png" alt="">
          </div>
          <div class="content-box">
            <img src="assets/images/map.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-reviews">
    <img src="assets/images/reviews.png" alt="">
  </div>

  <div class="row-wrap mt-5">
    <div class="container">
      <div class="row-inner">
        <h6 class="row-title">Similar events</h6>

        <div class="event-row">
          <div class="event-box">
            <div class="event-actions">
              <div class="event-status"><span class="status online"></span> ONLINE</div>
              <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                  viewBox="0 0 14 12.25">
                  <path data-name="Icon awesome-heart"
                    d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                    transform="translate(0.001 -2.248)" />
                </svg>
              </div>
            </div>
            <figure><img src="assets/images/image.png" alt=""></figure>
            <div class="event-details">
              <div class="event-date">WEDNESDAY, OCT 7, 6:00 PM </div>
              <h4 routerLink="/event">Kurinjal Peak Treak</h4>
              <div class="event-desc">Plan the unplanned in the plan the unplanned in the plan the...</div>
              <div class="event-price">₹ 3,999 <span>onwards</span></div>
            </div>
          </div>
          <div class="event-box">
            <div class="event-actions">
              <div class="event-status"><span class="status online"></span> ONLINE</div>
              <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                  viewBox="0 0 14 12.25">
                  <path data-name="Icon awesome-heart"
                    d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                    transform="translate(0.001 -2.248)" />
                </svg>
              </div>
            </div>
            <figure><img src="assets/images/image.png" alt=""></figure>
            <div class="event-details">
              <div class="event-date">WEDNESDAY, OCT 7, 6:00 PM </div>
              <h4 routerLink="/event">Kurinjal Peak Treak</h4>
              <div class="event-desc">Plan the unplanned in the plan the unplanned in the plan the...</div>
              <div class="event-price">₹ 3,999 <span>onwards</span></div>
            </div>
          </div>
          <div class="event-box">
            <div class="event-actions">
              <div class="event-status"><span class="status online"></span> ONLINE</div>
              <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                  viewBox="0 0 14 12.25">
                  <path data-name="Icon awesome-heart"
                    d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                    transform="translate(0.001 -2.248)" />
                </svg>
              </div>
            </div>
            <figure><img src="assets/images/image.png" alt=""></figure>
            <div class="event-details">
              <div class="event-date">WEDNESDAY, OCT 7, 6:00 PM </div>
              <h4 routerLink="/event">Kurinjal Peak Treak</h4>
              <div class="event-desc">Plan the unplanned in the plan the unplanned in the plan the...</div>
              <div class="event-price">₹ 3,999 <span>onwards</span></div>
            </div>
          </div>
          <div class="event-box">
            <div class="event-actions">
              <div class="event-status"><span class="status offline"></span> offline</div>
              <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                  viewBox="0 0 14 12.25">
                  <path data-name="Icon awesome-heart"
                    d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                    transform="translate(0.001 -2.248)" />
                </svg>
              </div>
            </div>
            <figure><img src="assets/images/image.png" alt=""></figure>
            <div class="event-details">
              <div class="event-date">WEDNESDAY, OCT 7, 6:00 PM </div>
              <h4 routerLink="/event">Kurinjal Peak Treak</h4>
              <div class="event-desc">Plan the unplanned in the plan the unplanned in the plan the...</div>
              <div class="event-price">₹ 3,999 <span>onwards</span></div>
            </div>
          </div>
        </div>

        <div class="text-right">
          <button class="show-all-btn"><span>Show all events happening near you </span>
            <svg xmlns="http://www.w3.org/2000/svg" width="6.451" height="10.95" viewBox="0 0 6.451 10.95">
              <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
                d="M15.438,11.441,11.467,7.473a.747.747,0,0,1,0-1.059.756.756,0,0,1,1.062,0l4.5,4.5a.749.749,0,0,1,.022,1.034l-4.518,4.527a.75.75,0,0,1-1.062-1.059Z"
                transform="translate(-11.046 -5.94)" fill="#ff7e23" stroke="#ff7e23" stroke-width="0.4" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="event-story">
    <img src="assets/images/story.png" alt="">
  </div>

  <button class="faq-icon">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path fill="#fff"
        d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z" />
      </svg> <span>Plan your trip</span></button>

</div>