.event-single-wrapper {
  .event-banner {
    position: relative;
    img {
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
    .event-banner-content {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      span {
        width: 250px;
        font-size: 14px;
        font-weight: 500;
        display: block;
        padding: 10px 20px;
        background: rgb(255 255 255 / 0.6);
        border-radius: 5px;
      }
    }
  }
}
img {
  max-width: 100%;
}
.event-details-wrap {
  background: #f7f7f7;
  padding-bottom: 50px;
  .event-head {
    background: #fff;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 0 0 5px 5px;
    h3 {
      font-size: 23px;
      font-weight: 600;
    }
    ul {
      display: flex;
      font-size: 14px;
      margin: 5px 0;
      font-weight: 500;
      li {
        &:not(:first-child) {
          padding-left: 10px;
          margin-left: 10px;
        }
      }
    }
    h6 {
      font-size: 20px;
    }
  }
  .event-content {
    display: flex;
    .event-content-left {
      background: #fff;
      padding: 20px;
      font-size: 15px;
      line-height: 1.6;
      flex: 1;
      h6 {
        font-weight: 600;
        font-size: 23px;
      }
    }
    .event-content-right {
      width: 370px;
      min-width: 370px;
      margin-left: 20px;
      .content-box {
        background: #fff;
        margin-bottom: 20px;
      }
    }
  }
}
.event-reviews,
.event-story {
  background: #fff;
  text-align: center;
  margin: 40px 0;
  img {
    display: block;
    margin: 0px auto;
  }
}
.event-story {
  margin: 60px 0 20px;
}
.shimmer {
  height: 25px;
  width: 200px;
  opacity: 0.06;
  animation: shimmer 3s infinite linear;
  background: linear-gradient(
    to right,
    #33334f 0%,
    #b2b2c8 46.88%,
    #81819a 100%
  );
  background: -moz-linear-gradient(
    to right,
    #33334f 0%,
    #b2b2c8 46.88%,
    #81819a 100%
  );
  background: -o-linear-gradient(
    to right,
    #33334f 0%,
    #b2b2c8 46.88%,
    #81819a 100%
  );
  background: -webkit-linear-gradient(
    to right,
    #33334f 0%,
    #b2b2c8 46.88%,
    #81819a 100%
  );
  &.primary {
    height: 20px;
    width: 100px;
  }
  &.secondary {
    height: 12px;
    width: 180px;
  }
}
.faq-icon {
  position: fixed;
  right: 10px;
  background: #ff7e23;
  bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  svg {
    width: 20px;
  }
  span {
    padding-left: 5px;
  }
}