
<div class="pre-footer">
    <div class="container">
        <div class="pre-footer-inner">
            <h5 class="mb-4">Just few steps away in creating your own local community</h5>
            <button class="btn btn-primary">Create new club</button>
        </div>
    </div>
</div>

<footer class="main-footer">
  <img src="assets/images/footer.png" alt="" />
</footer>
