.main-footer {
    background: #F7F7F7;
    text-align: center;
    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
}
.pre-footer {
    text-align: center;
    padding: 6em 0;
}