/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat", sans-serif;
}
.btn-primary {
    background: #ff7e23;
    border-color: #ff7e23;
    box-shadow: none !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 28px;
  &:hover,
  &:focus,
  &:active {
    background: #e46b14 !important;
    border-color: #e46b14 !important;
  }
}
.btn-outline-primary {
  border-color: #ff7e23;
    box-shadow: none !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 28px;
    color: #ff7e23;
    &:hover,
    &:focus,
    &:active {
      background: #e46b14 !important;
      border-color: #e46b14 !important;      
    }
}
.row-title {
    color: #000000;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -7px;
        width: 100px;
        background: #FF7E23;
        height: 3px;
    }
}
.event-row {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  .event-box {
    width: 23%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    }
    figure {
      img {
        width: 100%;
      }
    }
    .event-actions {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      left: 0;
      top: 0;
      .event-status, .bookmark-status {
        background: #fff;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        line-height: 1;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px;
      }
      .bookmark-status {
          svg {
              fill: rgba(0, 0, 0, 0.6);
          }
      }
      .event-status {
        text-transform: uppercase;
        .status {
            height: 7px;
            width: 7px;
            border-radius: 10px;            
            margin-right: 5px;
            &.online {
                background: #7CC67B;
            }
            &.offline {
                background: #f08666;
            }
        }
      }
    }
    .event-details {
      padding: 0 15px 15px;
      .event-date {
        font-size: 12px;
        font-weight: 500;
      }
      h4 {
        font-size: 17px;
        margin: 10px 0;
        font-weight: 600;
        cursor: pointer;
      }
      .event-desc {
        font-size: 13px;
      }
      .event-price {
        padding: 10px 0 0;
        font-weight: 500;
        span {
          font-weight: 400;
          opacity: 0.6;
        }
      }
    }
  }
}
.show-all-btn {
    background: none;
    color: #ff7e23;
    border: none;
    font-weight: 500;
    font-size: 14px;
}
@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}