<app-slider></app-slider>

<div class="row-wrap mt-5">
  <div class="container">
    <div class="row-inner">
      <h6 class="row-title">Explore by category</h6>
      <div class="category-slider">
        <a class="btn btn-prev" (click)="owlCar.prev()"><svg xmlns="http://www.w3.org/2000/svg" width="10"
            height="17.49" viewBox="0 0 10 17.49">
            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
              d="M18.232,14.938,11.614,8.325a1.245,1.245,0,0,1,0-1.765,1.26,1.26,0,0,1,1.77,0l7.5,7.493a1.248,1.248,0,0,1,.036,1.724l-7.53,7.545a1.25,1.25,0,0,1-1.77-1.765Z"
              transform="translate(-11.246 -6.196)" fill="#fff" />
          </svg>
        </a>
        <owl-carousel-o [options]="customOptions" #owlCar>

          <ng-template carouselSlide *ngFor="let category of categories">
            <div class="category-slide">
              <img [src]="category.image_url" alt="">
              <h5>{{category.title}}</h5>
            </div>
          </ng-template>
        </owl-carousel-o>
        <a class="btn btn-next" (click)="owlCar.next()"><svg xmlns="http://www.w3.org/2000/svg" width="10"
            height="17.49" viewBox="0 0 10 17.49">
            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
              d="M18.232,14.938,11.614,8.325a1.245,1.245,0,0,1,0-1.765,1.26,1.26,0,0,1,1.77,0l7.5,7.493a1.248,1.248,0,0,1,.036,1.724l-7.53,7.545a1.25,1.25,0,0,1-1.77-1.765Z"
              transform="translate(-11.246 -6.196)" fill="#fff" />
          </svg>
        </a>        
      </div>
      <div class="category-loading-shimmer" *ngIf="categories.length === 0">
        <div class="category-slide-shimmer"></div>
        <div class="category-slide-shimmer"></div>
        <div class="category-slide-shimmer"></div>
        <div class="category-slide-shimmer"></div>
        <div class="category-slide-shimmer"></div>
      </div>
    </div>
  </div>
</div>

<div class="row-wrap mt-5">
  <div class="container">
    <div class="row-inner">
      <h6 class="row-title">Top events happening in your city</h6>

      <div class="event-row">
        <div class="event-box" *ngFor="let event of events">
          <div class="event-actions">
            <div class="event-status"><span class="status"
                [ngStyle]="{'background-color':event.status === 'Online' ? 'green' : 'orange' }"></span> {{event.status}}
            </div>
            <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                viewBox="0 0 14 12.25">
                <path data-name="Icon awesome-heart"
                  d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                  transform="translate(0.001 -2.248)" />
              </svg>
            </div>
          </div>
          <figure><img [src]="event.thumb_url" alt=""></figure>
          <div class="event-details">
            <div class="event-date">{{event.event_date | date: 'EEEE, MMM d, h:mm a'}}</div>
            <h4 [routerLink]="['/event/'+ event.id]">{{event.title}}</h4>
            <div class="event-desc">{{event.short_description}}</div>
            <div class="event-price">₹ {{event.price}} <span>onwards</span></div>
          </div>
        </div>

      </div>

      <div class="text-right">
        <button class="show-all-btn"><span>Show all events happening near you </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="6.451" height="10.95" viewBox="0 0 6.451 10.95">
            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
              d="M15.438,11.441,11.467,7.473a.747.747,0,0,1,0-1.059.756.756,0,0,1,1.062,0l4.5,4.5a.749.749,0,0,1,.022,1.034l-4.518,4.527a.75.75,0,0,1-1.062-1.059Z"
              transform="translate(-11.046 -5.94)" fill="#ff7e23" stroke="#ff7e23" stroke-width="0.4" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="row-wrap mt-5">
  <div class="container">
    <div class="row-inner">
      <h6 class="row-title">Outdoor and Adventure</h6>

      <div class="event-row">
        <div class="event-box" *ngFor="let event of events">
          <div class="event-actions">
            <div class="event-status"><span class="status"
                [ngStyle]="{'background-color':event.status === 'Online' ? 'green' : 'orange' }"></span> {{event.status}}
            </div>
            <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                viewBox="0 0 14 12.25">
                <path data-name="Icon awesome-heart"
                  d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                  transform="translate(0.001 -2.248)" />
              </svg>
            </div>
          </div>
          <figure><img [src]="event.thumb_url" alt=""></figure>
          <div class="event-details">
            <div class="event-date">{{event.event_date | date: 'EEEE, MMM d, h:mm a'}}</div>
            <h4 [routerLink]="['/event/'+ event.id]">{{event.title}}</h4>
            <div class="event-desc">{{event.short_description}}</div>
            <div class="event-price">₹ {{event.price}} <span>onwards</span></div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <button class="show-all-btn"><span>Show all events happening near you </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="6.451" height="10.95" viewBox="0 0 6.451 10.95">
            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
              d="M15.438,11.441,11.467,7.473a.747.747,0,0,1,0-1.059.756.756,0,0,1,1.062,0l4.5,4.5a.749.749,0,0,1,.022,1.034l-4.518,4.527a.75.75,0,0,1-1.062-1.059Z"
              transform="translate(-11.046 -5.94)" fill="#ff7e23" stroke="#ff7e23" stroke-width="0.4" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row-wrap mt-5">
  <div class="container">
    <div class="row-inner">
      <h6 class="row-title">Health and Wellness</h6>

      <div class="event-row">
        <div class="event-box" *ngFor="let event of events">
          <div class="event-actions">
            <div class="event-status"><span class="status"
                [ngStyle]="{'background-color':event.status === 'Online' ? 'green' : 'orange' }"></span> {{event.status}}
            </div>
            <div class="bookmark-status"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12.25"
                viewBox="0 0 14 12.25">
                <path data-name="Icon awesome-heart"
                  d="M12.64,3.085a3.739,3.739,0,0,0-5.1.372L7,4.012l-.539-.555a3.739,3.739,0,0,0-5.1-.372A3.926,3.926,0,0,0,1.088,8.77l5.291,5.463a.857.857,0,0,0,1.239,0L12.908,8.77a3.924,3.924,0,0,0-.268-5.685Z"
                  transform="translate(0.001 -2.248)" />
              </svg>
            </div>
          </div>
          <figure><img [src]="event.thumb_url" alt=""></figure>
          <div class="event-details">
            <div class="event-date">{{event.event_date | date: 'EEEE, MMM d, h:mm a'}}</div>
            <h4 [routerLink]="['/event/'+ event.id]">{{event.title}}</h4>
            <div class="event-desc">{{event.short_description}}</div>
            <div class="event-price">₹ {{event.price}} <span>onwards</span></div>
          </div>
        </div>        

      </div>

      <div class="text-right">
        <button class="show-all-btn"><span>Show all events happening near you </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="6.451" height="10.95" viewBox="0 0 6.451 10.95">
            <path id="Icon_ionic-ios-arrow-forward" data-name="Icon ionic-ios-arrow-forward"
              d="M15.438,11.441,11.467,7.473a.747.747,0,0,1,0-1.059.756.756,0,0,1,1.062,0l4.5,4.5a.749.749,0,0,1,.022,1.034l-4.518,4.527a.75.75,0,0,1-1.062-1.059Z"
              transform="translate(-11.046 -5.94)" fill="#ff7e23" stroke="#ff7e23" stroke-width="0.4" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>