:host::ng-deep {
  .category-slider {
    margin: 0 -20px;
    position: relative;
    .owl-item {
      padding: 20px;
      .category-slide {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        height: 180px;
        width: 100%;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h5 {
          padding-top: 30px;
          margin: 0;
          font-size: 16px;
        }
        img {
          width: 40px;
        }
      }
    }
    .btn {
      height: 40px;
      width: 40px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 40px;
      top: 50%;
      margin-top: -20px;
      position: absolute;
      z-index: 1;
      &.btn-prev {
        transform: rotate(180deg);
        left: -40px;
      }
      &.btn-next {
        right: -40px;
      }
    }
  }
}

.category-loading-shimmer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .category-slide-shimmer {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: 180px;
    width: 16.5%;
    border-radius: 10px;
    opacity: 0.06;
    animation: shimmer 3s infinite linear;
    background: linear-gradient(
      to right,
      #33334f 0%,
      #b2b2c8 46.88%,
      #81819a 100%
    );
    background: -moz-linear-gradient(
      to right,
      #33334f 0%,
      #b2b2c8 46.88%,
      #81819a 100%
    );
    background: -o-linear-gradient(
      to right,
      #33334f 0%,
      #b2b2c8 46.88%,
      #81819a 100%
    );
    background: -webkit-linear-gradient(
      to right,
      #33334f 0%,
      #b2b2c8 46.88%,
      #81819a 100%
    );
  }
}
